# Lista de Exercícios

A lista de exercícios tem por objetivo colocar a mão na massa e relembrar os conceitos que foram passados nas aulas anteriores.

<center><img src="https://images.unsplash.com/photo-1542903660-eedba2cda473?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" height="400px"></center>

## Exercício 1

* Importar o pacote Pandas
* importar os dados de ocorrências da aviação civil neste link
* Ver qual o tamanho (linhas x colunas) do *DataFrame*
* Verificar as 5 primeiras

**Importe o Pandas e importe os dados de ocorrências da aviação civil que se encontram em `csv` [neste link](https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv).**

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv")

**Veja qual o tamanho (linhas e colunas) do conjunto de dados importado.**

In [3]:
df.shape

(5208, 22)

**Identifique o tipo de cada coluna (inteiro, float, object).**

In [4]:
df.dtypes

codigo_ocorrencia                   int64
ocorrencia_classificacao           object
ocorrencia_tipo                    object
ocorrencia_tipo_categoria          object
ocorrencia_tipo_icao               object
ocorrencia_latitude               float64
ocorrencia_longitude              float64
ocorrencia_cidade                  object
ocorrencia_uf                      object
ocorrencia_pais                    object
ocorrencia_aerodromo               object
ocorrencia_dia                     object
ocorrencia_horario                 object
investigacao_aeronave_liberada     object
investigacao_status                object
divulgacao_relatorio_numero        object
divulgacao_relatorio_publicado     object
divulgacao_dia_publicacao          object
total_recomendacoes                 int64
total_aeronaves_envolvidas          int64
ocorrencia_saida_pista             object
ocorrencia_dia_extracao            object
dtype: object

**Veja as 3 primeiras entradas do conjunto de dados.**

In [5]:
df.head(3)

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_tipo,ocorrencia_tipo_categoria,ocorrencia_tipo_icao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,...,ocorrencia_horario,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista,ocorrencia_dia_extracao
0,201305055424986,ACIDENTE,FALHA DO MOTOR EM VOO,FALHA OU MAU FUNCIONAMENTO DO MOTOR,SCF-PP,-9.9085,-63.0333,ARIQUEMES,RO,BRASIL,...,11:00:00,NaN,FINALIZADA,***,NÃO,NaN,0,1,NÃO,2018-08-28
1,201605160250139,INCIDENTE GRAVE,COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO,COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO,CTOL,-11.2644,-61.2589,CACOAL,RO,BRASIL,...,19:19:00,SIM,ATIVA,IG-084/CENIPA/2016,NÃO,NaN,0,1,NÃO,2018-08-28
2,201805021421302,INCIDENTE,AERÓDROMO,AERÓDROMO,ADRM,-11.4956,-61.4508,CACOAL,RO,BRASIL,...,22:40:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,2018-08-28

**Veja quantos valores únicos existem para a coluna `ocorrencia_classificacao`**

In [6]:
# retira os valores faltantes (NaN)
df_unicos = df.ocorrencia_classificacao.dropna()

In [7]:
#retira os repetidos
df_unicos = df_unicos.drop_duplicates()

In [8]:
#retorna a quantidade dos valores unicos
df_unicos.count()

3

**Descubra qual Estado possui o maior número de ocorrências com aeronaves civis.**

In [9]:
#value.counts retorna a quantidade de linhas unicss na coluna selecionada, ordenada e desconsiderando valores ausentes
estados = df["ocorrencia_uf"].value_counts()
estados

SP     1207
RJ      498
MG      476
PR      437
RS      350
GO      268
PA      255
MT      244
AM      219
BA      208
SC      160
DF      151
MS      132
PE       88
CE       75
ES       66
MA       63
TO       54
AC       53
RR       50
PI       39
RO       30
PB       20
SE       18
AL       16
RN       15
AP       13
***       3
Name: ocorrencia_uf, dtype: int64

In [10]:
#where condicona os valores a serem selecionados e retorna o maior utilizando a função max()
estado_max =  estados.where(estados.values == estados.max()).dropna()

In [11]:
estado_max

SP    1207.0
Name: ocorrencia_uf, dtype: float64

**Quantos por cento das ocorrências são do tipo `FALHA DO MOTOR EM VOO`?**

**Forma 1**

In [15]:
qtd_ocorrences = df.ocorrencia_tipo.value_counts().drop_duplicates().dropna()
qtd_ocorrences

FALHA DO MOTOR EM VOO                                  682
ESTOURO DE PNEU                                        604
FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE     574
PERDA DE CONTROLE NO SOLO                              492
OUTROS                                                 350
PERDA DE CONTROLE EM VOO                               345
COM TREM DE POUSO                                      325
COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO      190
TRÁFEGO AÉREO                                          138
COLISÃO COM OBSTÁCULOS NO SOLO                         113
CAUSADO POR FENÔMENO METEOROLÓGICO EM VOO              108
POUSO EM LOCAL NÃO PREVISTO                            102
PANE SECA                                              101
POUSO SEM TREM                                          90
INDETERMINADO                                           76
COM PARA-BRISAS / JANELA / PORTA                        71
VAZAMENTO DE OUTROS FLUIDOS                             66
PERDA DE COMPONENTE EM VOO                              61
POUSO LONGO                                             43
F.O.D.                                                  40
OPERAÇÃO A BAIXA ALTITUDE                               34
FALHA DO MOTOR NO SOLO                                  29
COLISÃO COM AERONAVE NO SOLO                            28
VOO CONTROLADO CONTRA O TERRENO                         25
SUPERAQUECIMENTO                                        24
FUMAÇA NA CABINE                                        21
COLISÃO DE VEÍCULO COM AERONAVE                         20
COM HÉLICE                                              18
VAZAMENTO DE COMBUSTÍVEL                                17
COM ROTOR                                               15
DESORIENTAÇÃO ESPACIAL                                  13
SOPRO DE REATOR                                         12
INCURSÃO EM PISTA                                       10
FALHA ESTRUTURAL                                         9
COM LANÇAMENTO DE CARGA                                  8
CORTE INVOLUNTÁRIO DO MOTOR                              7
TURBULÊNCIA                                              4
COM PESSOAL EM VOO                                       3
OPERAÇÕES NO SOLO                                        2
ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO              1
Name: ocorrencia_tipo, dtype: int64

In [16]:
total = qtd_ocorrences.sum()
total

4871

In [17]:
#como os valores vem ordenados, já identifico a quantidade de ocorrencias por falhas do motor na primeira posição

pct_falhas_motor = (qtd_ocorrences[0] / total)*100

In [18]:
pct_falhas_motor.round()

14.0

## Exercício 2

Você irá trabalhar agora com os dados da ação BBAS3, do Banco do Brasil na BOVESPA.

Na variável `df_bbas3`, foi importado [este arquivo `csv`](https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/BBAS3.SA.csv), onde o *index* do *DataFrame* representa os valores da ação para determinado dia. Responda as perguntas abaixo.

In [19]:
# importar pandas
import pandas as pd

# importar o csv com dados da BBAS3
df_bbas3 = pd.read_csv("https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/BBAS3.SA.csv", 
                       parse_dates=True, index_col="Date")

**Veja as 5 primeiras entradas da variável `df_bbas3`.**

In [20]:
df_bbas3.head(5)

                 Open       High        Low      Close  Adj Close      Volume
Date
2019-05-06  49.470001  49.669998  49.180000  49.369999  46.886795   6314800.0
2019-05-07  49.080002  49.680000  48.220001  49.490002  47.000763  10846100.0
2019-05-08  49.500000  50.840000  49.500000  50.590000  48.045422  14459600.0
2019-05-09  50.910000  51.259998  50.119999  51.029999  48.463291  15377500.0
2019-05-10  51.099998  51.189999  49.860001  50.160000  47.637051   8975300.0

**Quais são os valores da ação para o dia 04 de outubro de 2019?**

In [21]:
df_bbas3.loc["2019-10-04":"2019-10-04"]

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-10-04  45.369999  45.599998  44.619999  45.599998  44.448669  7228200.0

**Qual a média do Volume financeiro movimentado em todo o período?**

In [25]:
df_bbas3 = df_bbas3.

AttributeError: 'function' object has no attribute 'sort_index'

In [ ]:
media = np.mean(df_bbas3["Volume"])